<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2>Připravil</h2>
        <ul class="contact-list">
          {% if site.author %}
            <li>{{ site.author | escape }}</li>
          {% endif %}
          {% if site.author_url %}
            <li><a href="{{ site.author_url }}">{{ site.author_url }}</a></li>
          {% endif %}
          {% if site.author_email %}
            <li><a href="mailto:{{ site.author_email }}">{{ site.author_email }}</a></li>
          {% endif %}
            <li class="footer-license">{{ site.license }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <a href="http://www.czechitas.cz">
          <img src="/assets/czechitas-logo.svg" alt="Czechitas - girls talk IT">
        </a>
      </div>
    </div>

  </div>

</footer>
