<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for item in site.menu %}
        <a class="page-link" href="{{ item.href }}">{{ item.text }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
