<div class="home">

  {% assign posts = site.lessons | sort: date %}

  {% if posts and site.last_post_on_index %}
    {% assign post = posts | last %}
    {% include post-full.html %}
  {% endif %}

  {% if posts.size > 1 and site.last_post_on_index %}
    <h2>Předchozí lekce</h2>
  {% endif %}

  <ul class="post-list">
    {% for post in posts reversed %}
      {% if forloop.index0 == 0 and site.last_post_on_index %}
        {% continue %}
      {% endif %}

      <li>
        <span class="post-meta">{{ post.date | date: "%-d. %-m. %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
