<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include google-analytics.html %}

    {{ content | extlinks }}

  </body>

</html>
